{% extends 'bootstrap/base.html' %} {% block head %} {{ super() }}
<title>
    {% block title %} My To Do List |{% endblock %}
</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> {% endblock %} {% block body %} {% block navbar %} {% include 'navbar.html' %} {% endblock %} {% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible">
    <button type="button" data-dismiss="alert" class="close">&times;</button> {{ message }}
</div>

{% endfor %} {% block content %} {% endblock %} {% block scripts %} {{ super() }} {% endblock %} {% endblock %}