{% extends 'base.html' %} {% import 'macros.html' as macros %} {% import 'bootstrap/wtf.html' as wtf %} {% block title %} {{ super() }} Bienvenido {% endblock %} {% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 style="text-align: center">
            Bienvenido a My To Do List, {{ username | capitalize }}
        </h1>
    </div>
</div>

<div class="container text-center" style="margin-bottom: 40px;">
    <h1></h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-4" style="padding-left: 40%; margin-bottom: 50px;">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" style="width: 200%; height: 150%;">
                Nueva tarea <i class="fas fa-plus"></i>
            </button>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Crear una nueva tarea</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(todo_form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2 class="columnTitle">To Do</h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2 class="columnTitle">Doing</h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h2 class="columnTitle">Done</h2>
        </div>
    </div>

    <div class="row">

        <!-- Columna To Do -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% for todo in todos %} 
                {% if todo["status"] == "To Do" %}
                    {{ macros.render_todo(todo, edit_forms, delete_forms , loop.index0 ) }} 
                {% endif %}
            {% endfor %}
        </div>

        <!-- Columna Doing -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% for todo in todos %} 
                {% if todo["status"] == "Doing" %}
                    {{ macros.render_todo(todo, edit_forms, delete_forms , loop.index0 ) }} 
                {% endif %}
            {% endfor %}
        </div>

        <!-- Columna Done -->
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% for todo in todos %} 
                {% if todo["status"] == "Done" %}
                    {{ macros.render_todo(todo, edit_forms, delete_forms , loop.index0 ) }} 
                {% endif %}
            {% endfor %}
        </div>


    </div>
</div>

{% if todos|length > 0 %}

<div class="container">
    <div class="row">
        <div class="col-xs-4" style="padding-left: 35%; margin-bottom: 50px;">
            <!-- Button trigger modal -->
            <a href="{{ url_for('download') }}" role="button">
            <button type="button" class="btn btn-primary"  style="width: 200%; height: 150%;">
                Descargar My Todo List
            </button>
            </a>
        </div>
    </div>
</div>
{% endif %}

</div>


{% endblock %}