@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;600;800&display=swap");

* {
  font-family: "Barlow", sans-serif;
}

body {
  background-color: #fafafa;
}

.card {
  margin: 5% 0%;
}

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}

.page-footer {
  background-color: #525c6f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin-top: 100px;
}

.page-footer h4,
p,
small {
  color: white;
}

.card-header {
  background-color: #525c6f;
}

.card-header strong {
  color: #fafafa;
}

.card-body {
  background-color: #fafafa;
}

.far {
  color: #ed696b;
}

.far:hover {
  color: #c13739;
}

.btn-primary {
  background-color: #ed696b;
  border-color: #ed696b;
}

.btn-primary:hover {
  background-color: #c13739;
  border-color: #c13739;
}

.btn-primary:active {
  background-color: #c13739;
  border-color: #c13739;
}

.columnTitle {
  padding-top: 20px;
}

.alert-success {
  background-color: #fbdeda;
}

/*----------- JAVIER'S STYLESHEET ----------------*/

/*------------start navbar ------------------ */

.text-new-font {
  font-weight: 600;
}

/*------------ end login page ------------------ */

/*------------start login page ------------------ */

.main-input h1 {
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #c13739;
  text-align: center;
  margin: 60px 0 60px 0;
}

.container-login {
  display: flex;
  justify-content: center;
}

.container-login input {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 500px;
  margin: 10px 0 20px 0;
}

/*------------ end login page ------------------ */
