.card {
  margin: 5% 0%;
}

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}

.footer {
  background-color: #525c6f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin-top: 100px;
}

.footer h4,
p,
small {
  color: white;
}

.card-header {
  background-color: #525c6f;
}

.card-header strong {
  color: #fafafa;
}

.card-body {
  background-color: #fafafa;
}

.far {
  color: #ed696b;
}

.far:hover {
  color: #c13739;
}

.btn-primary {
  background-color: #ed696b;
  border-color: #ed696b;
}

.btn-primary:hover {
  background-color: #c13739;
  border-color: #c13739;
}

.btn-primary:active {
  background-color: #c13739;
  border-color: #c13739;
}

.columnTitle {
  padding-top: 20px;
}

/*----------- JAVIER'S STYLESHEET ----------------*/

.container {
  margin: 20px 0 20px 0;
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

.container input {
  padding: 0 20px 0 20px;
  width: 525px;
  height: 50px;
  border-radius: 100px;
  border: none;
  outline: none;
  font-family: "Barlow", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  color: var(--color-primary);
}
